<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>yrvingv-PortfolioPersonal</title>

  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="./static/images/logo.ico" type="image/x-icon">

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="./static/css/style.css">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

<body>

  <!--
    - #MAIN
  -->

  <main>

    <!--
      - #SIDEBAR
    -->

    <aside class="sidebar" data-sidebar>

      <div class="sidebar-info">

        <figure class="avatar-box">
          <img src="./static/images/my-avatar.png" alt="Richard hanrick" width="80">
        </figure>

        <div class="info-content">
          <h1 class="name" title="Richard hanrick">YRVING VIERA</h1>

          <p class="title">Project Manager</p>
        </div>

        <button class="info_more-btn" data-sidebar-btn>
          <span>Mostrar contactos</span>

          <ion-icon name="chevron-down"></ion-icon>
        </button>

      </div>

      <div class="sidebar-info_more">

        <div class="separator"></div>

        <ul class="contacts-list">

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="mail-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Email</p>

              <a href="mailto:yrving.viera@gmail.com" class="contact-link">yrving.viera@gmail.com</a>
            </div>

          </li>

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="phone-portrait-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">WhatsApp</p>
              <a href="https://wa.me/541128390182" class="contact-link">+54 (11) 2839-0182</a>
            </div>

          </li>

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="calendar-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Nacimiento</p>

              <time datetime="1982-06-23">Octubre 03, 1977</time>
            </div>

          </li>

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="location-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Ubicación</p>

              <address>Tucumán, Argentina</address>
            </div>

          </li>

        </ul>

        <div class="separator"></div>

        <ul class="social-list">

          <li class="social-item">
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li class="social-item">
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li class="social-item">
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

        </ul>

      </div>

    </aside>





    <!--
      - #main-content
    -->

    <div class="main-content">

      <!--
        - #NAVBAR
      -->

      <nav class="navbar">

        <ul class="navbar-list">

          <li class="navbar-item">
            <button class="navbar-link {% if active_page == 'about' %}active{% endif %}" data-nav-link>Sobre mí</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Resumen</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Mis Servicios</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Portafolio</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link {% if active_page == 'blog' %}active{% endif %}" data-nav-link>Blog</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Contacto</button>
          </li>

        </ul>

      </nav>





      <!--
        - #ABOUT
      -->

      <article class="about {% if active_page != 'blog' %}active{% endif %}" data-page="about">

        <header>
          <h2 class="h2 article-title">Conóceme</h2>
        </header>

        <section class="about-text">
          <p>Project Manager con más de 17 años de experiencia en la gestión de proyectos industriales 
            y energéticos. Especializado en EPC, PMI, Lean Construction y Agile, liderando proyectos 
            desde la conceptualización hasta la entrega, con enfoque en optimización de recursos, 
            control de cronogramas y mitigación de riesgos. Experto en MS Project y técnicas 
            de gestión de riesgos, con un historial comprobado de cumplir plazos y presupuestos. 
            Busco oportunidades para aportar mi experiencia en entornos multidisciplinarios 
            y multiculturales, alineados con los estándares de calidad y seguridad de la industria. 
          </p>

          <p>
            Hablo inglés a nivel intermedio-avanzado y soy reconocido por liderar equipos, garantizando 
            un ambiente de trabajo colaborativo y alineado con los objetivos del proyecto. Excelentes 
            habilidades de comunicación e interpersonales para fomentar la colaboración con equipos 
            remotos e interesados clave.
          </p>
        </section>


        <!--
          - service
        -->

        <section class="service">

          <h3 class="h3 service-title">Qué estoy haciendo ahora?</h3>

          <ul class="service-list">

            <li class="service-item">

              <div class="service-icon-box">
                <img src="./static/images/icon-design.svg
                " alt="design icon" width="40">
              </div>

              <div class="service-content-box">
                
                <h4 class="h4 service-item-title">Gerencia de Proyectos</h4>

                <p class="service-item-text">
                  Dirijo proyectos para empresas de producción industrial.
                  Sectores de ingeniería, construcción e investigación y desarrollo.
                </p>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="./static/images/icon-dev.svg" alt="Web development icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Web developer</h4>
                <p class="service-item-text">
                  Me gusta la programación asistida por IA (Python, html, js, css). 
                  Automatizo soluciones para directores de proyecto.
                </p>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="./static/images/icon-app.svg" alt="mobile app icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Servicios</h4>

                <p class="service-item-text">
                  AGEEL Projects - Emprendimiento de consultoría de proyectos, especialmente en ambientes remotos 
                  para la industrialización de soluciones (Véase ventana MIS SERVICIOS).
                </p>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="./static/images/icon-photo.svg" alt="camera icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Mi familia</h4>

                <p class="service-item-text">
                  Padre de cuatro hermosas chicas y esposo de mi hermosa Soli.
                  Felices y siempre juntos con MIA🐶.
                </p>
              </div>

            </li>

          </ul>

        </section>


        <!--
          - testimonials
        -->

        <section class="testimonials">

          <h3 class="h3 testimonials-title">Testimoniales</h3>

          <ul class="testimonials-list has-scrollbar">

            <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>

                <figure class="testimonials-avatar-box">
                  <img src="./static/images/avatar-1.png" alt="Daniel lewis" width="60" data-testimonials-avatar>
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title>Hector Marengo</h4>

                <div class="testimonials-text" data-testimonials-text>
                  <p>
                    Con Yrving trabajamos juntos durante mi gestión en la empresa Metrocubico. Fue la primera 
                    persona en ocupar un puesto de Gerente de proyecto en la empresa, donde logró afianzar procesos,
                    sistemas de trabajo y ordenar el flujo de tareas por medio del sistema Lean Construction.
                    Es una persona con gran conocimiento en metodología, procesos y reordenamiento interno; 
                    área donde se vieron sus resultados, reorganizando todo su sector desde la contratación 
                    de persona, capacitación hasta el armando de los puestos y tareas según las necesidades de 
                    la empresa en ese momento.
                  </p>
                </div>

              </div>
            </li>

            <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>

                <figure class="testimonials-avatar-box">
                  <img src="./static/images/avatar-2.png" alt="Jessica miller" width="60" data-testimonials-avatar>
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title>Nallely Ruiz Correa</h4>

                <div class="testimonials-text" data-testimonials-text>
                  <p>
                    Yrving es un Líder con una elevada capacidad intelectual y emocional para dirigir personal 
                    de tal forma que genera excelentes resultados para la organización donde labore.
                  </p>
                </div>

              </div>
            </li>

            <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>

                <figure class="testimonials-avatar-box">
                  <img src="./static/images/avatar-3.png" alt="Emily evans" width="60" data-testimonials-avatar>
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title>José Roberto Oliveira</h4>

                <div class="testimonials-text" data-testimonials-text>
                  <p>
                    Una persona mui dedicada en lo que hace! Fuerte profesional. Me gustó mucho trabajar con él. 
                    Conoce mucho cómo aplicar procedimentacion de metodología FEL PMBOK en desarrollos de proyectos.
                  </p>
                </div>

              </div>
            </li>

            <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>

                <figure class="testimonials-avatar-box">
                  <img src="./static/images/avatar-4.png" alt="Henry william" width="60" data-testimonials-avatar>
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title>Victor Carrizalez</h4>

                <div class="testimonials-text" data-testimonials-text>
                  <p>
                    Profesional joven con una acelerada formación en desarrollo de 
                    ingeniería de procesos y una destacada actividad gerencial en el 
                    campo de la bioingeniería.
                  </p>
                </div>

              </div>
            </li>

          </ul>

        </section>


        <!--
          - testimonials modal
        -->

        <div class="modal-container" data-modal-container>

          <div class="overlay" data-overlay></div>

          <section class="testimonials-modal">

            <button class="modal-close-btn" data-modal-close-btn>
              <ion-icon name="close-outline"></ion-icon>
            </button>

            <div class="modal-img-wrapper">
              <figure class="modal-avatar-box">
                <img src="./static/images/avatar-1.png" alt="Daniel lewis" width="80" data-modal-img>
              </figure>

              <img src="./static/images/icon-quote.svg" alt="quote icon">
            </div>

            <div class="modal-content">

              <h4 class="h3 modal-title" data-modal-title>Daniel lewis</h4>

              <time datetime="2021-06-14">14 June, 2021</time>

              <div data-modal-text>
                <p>
                  Richard was hired to create a corporate identity. We were very pleased with the work done. She has a
                  lot of experience
                  and is very concerned the needs of client. Lorem ipsum dolor sit amet, ullamcous cididt
                  consectetur adipiscing
                  elit, seds do et eiusmod tempor incididunt ut laborels dolore magnarels alia.
                </p>
              </div>

            </div>

          </section>

        </div>


        <!--
          - clients
        -->

        <section class="clients">

          <h3 class="h3 clients-title">Organizaciones Empresariales</h3>

          <ul class="clients-list has-scrollbar">

            <li class="clients-item">
              <a href="#">
                <img src="./static/images/logo-1-color.svg" alt="client logo">
              </a>
            </li>

            <li class="clients-item">
              <a href="#">
                <img src="./static/images/logo-2-color.png" alt="client logo">
              </a>
            </li>

            <li class="clients-item">
              <a href="#">
                <img src="./static/images/logo-3-color.webp" alt="client logo">
              </a>
            </li>

            <li class="clients-item">
              <a href="#">
                <img src="./static/images/logo-4-color.webp" alt="client logo">
              </a>
            </li>

            <li class="clients-item">
              <a href="#">
                <img src="./static/images/logo-5-color.png" alt="client logo">
              </a>
            </li>

            <li class="clients-item">
              <a href="#">
                <img src="./static/images/logo-6-color.svg" alt="client logo">
              </a>
            </li>

            <li class="clients-item">
              <a href="#">
                <img src="./static/images/logo-7-color.png" alt="client logo">
              </a>
            </li>
          
          </ul>

        </section>

      </article>





      <!--
        - #RESUMEN
      -->

      <article class="resumen" data-page="resumen">

        <header>
          <h2 class="h2 article-title">Resumen</h2>
        </header>

        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3">Educación</h3>
          </div>

          <ol class="timeline-list">

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Universidad de Los Andes - Venezuela</h4>

              <span>1995 — 2002</span>

              <p class="timeline-text">
                INGENIERO QUIMICO. Segundo lugar en la promoción - 2do/42. 
              </p>
            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">UNEXPO/Lara - Venezuela</h4>

              <span>2013 — 2016</span>

              <p class="timeline-text">
                Magister Scientiarum Ingeniería Industrial. Graduado con honores Cum laude.
              </p>
            </li>
            <!--  
            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">High school of art and design</h4>

              <span>2002 — 2004</span>

              <p class="timeline-text">
                Duis aute irure dolor in reprehenderit in voluptate, quila voluptas mag odit aut fugit, sed consequuntur
                magni dolores
                eos.
              </p>
            </li>
            -->
          </ol>

        </section>

        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3">Experiencia</h3>
          </div>

          <ol class="timeline-list">

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Project Manager - Compañía Eléctrica La FLorida</h4>

              <span>2022 — Presente</span>

              <p class="timeline-text">
                EPC - Generación de 20MW de energía eléctrica. Combustible Biomasa.  
              </p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Program Manager - Metrocubico Internacional</h4>

              <span>2021 — 2022</span>

              <p class="timeline-text">
                Construcción de edificios multifamiliares. Programa de 3 proyectos (3 edificios de mas de 15 pisos).
              </p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Coordinador de proyectos - Planta de Azúcar y Etanol</h4>

              <span>2016 — 2021</span>

              <p class="timeline-text">
                Coordinar la ingenieria y construcción de instalaciones industriales en áreas 
                operacionales. 
              </p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Gerente de Ingeniería y Proyectos - PDVSA</h4>

              <span>2014 — 2016</span>

              <p class="timeline-text">
                Elaborar proyectos de ingeniería en la Fase Visualizar. Conceptualizar y Definir. 
              </p>

            </li>

          </ol>

        </section>

        <section class="skill">

          <h3 class="h3 skills-title">Mis destrezas</h3>

          <ul class="skills-list content-card">

            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5">Web design</h5>
                <data value="30">30%</data>
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 30%;"></div>
              </div>

            </li>

            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5">Microsoft Project</h5>
                <data value="90">90%</data>
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 90%;"></div>
              </div>

            </li>

            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5">Lean Construction</h5>
                <data value="95">95%</data>
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 95%;"></div>
              </div>

            </li>

            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5">AutoCAD</h5>
                <data value="50">50%</data>
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 50%;"></div>
              </div>

            </li>

          </ul>

        </section>

      </article>


      <!--
        - #MIS SERVICIOS
      -->


      <article class="about services-section" data-page="services">

        <header>
          <h2 class="h2 article-title">Servicios</h2>
        </header>
      
        <header>
          <h2 class="h3 article-title">Ageel Projects: innovación y precisión en Ingeniería y Construcción</h2>
        </header>



        <!-- Información introductoria -->
        <section class="about-text">
          <p>En Ageel Projects, nos dedicamos a la consultoría de ingeniería y construcción, brindando 
            un enfoque integral que abarca todas las disciplinas necesarias para llevar adelante proyectos 
            exitosos. Nuestro compromiso es coordinar de manera eficiente aspectos clave como alcance, 
            presupuestos, cronogramas y calidad, asegurando que cada etapa, desde la conceptualización 
            hasta la construcción, se ejecute con precisión y altos estándares.</p>
          <p>Trabajamos con la metodología Front-End Loading (FEL), una herramienta reconocida por 
            estructurar los proyectos en fases claras que maximizan su viabilidad técnica y económica. 
            Este enfoque escalonado se centra en dos decisiones clave: D1, que marca el paso del concepto 
            a la definición, y D2, que autoriza avanzar de la definición a la ejecución en obra. Con estas 
            etapas bien definidas, garantizamos un proceso organizado y orientado al éxito.</p>
        </section>
      
        <!-- Servicios -->
        <section class="service">
          <h3 class="h3 service-title">¿Qué ofrecemos como empresa consultoría de proyectos?</h3>
      
          <ul class="service-list">
            <li class="service-item">
              <div class="service-icon-box">
                <img src="./static/images/serv1.webp" alt="Design icon" width="50">
              </div>
              <div class="service-content-box">
                <h4 class="h4 service-item-title">Desarrollo Multidisciplinario de Ingeniería</h4>
                <p class="service-item-text">
                  En Ageel Projects, entendemos que cada proyecto es único y requiere una visión técnica 
                  integral desde sus primeras etapas. Por ello, ofrecemos un servicio especializado en el 
                  desarrollo multidisciplinario de ingeniería, abarcando las fases de conceptualización, 
                  definición y detalle, asegurando soluciones personalizadas. Nuestro enfoque asegura que 
                  los proyectos no solo cumplan con los objetivos técnicos, sino que también sean económicamente 
                  viables, sostenibles en el tiempo y alineados con los objetivos del cliente (veáse blog Articulo 2).
                </p>
              </div>
            </li>
      
            <li class="service-item">
              <div class="service-icon-box">
                <img src="./static/images/serv2.webp" alt="Web development icon" width="50">
              </div>
              <div class="service-content-box">
                <h4 class="h4 service-item-title">Control y monitoreo de proyectos</h4>
                <p class="service-item-text">
                  Ofrecemos un servicio integral de control y monitoreo de proyectos para 
                  cualquier iniciativa de ingeniería, adquisiciones o construcción. Nuestra 
                  metodología incluye la creación de la WBS (Work Breakdown Structure), definición 
                  de cronogramas, presupuestos y curvas S de valor ganado. Además, realizamos 
                  programación ganada, seguimiento continuo y monitoreo del avance. Generamos 
                  reportes diarios, semanales, mensuales y de cierre, asegurando que cada etapa del 
                  proyecto esté alineada con los objetivos de tiempo, costo y calidad.</p>
              </div>
            </li>
      
            <li class="service-item">
              <div class="service-icon-box">
                <img src="./static/images/serv3.webp" alt="Mobile app icon" width="50">
              </div>
              <div class="service-content-box">
                <h4 class="h4 service-item-title">Gestión de Permisos de Proyectos de Energías Renovables</h4>
                <p class="service-item-text">
                  Gestionamos la habilitación técnica y comercial para proyectos de energías renovables en Argentina. 
                  Nos encargamos de tramitar autorizaciones clave como el ingreso al MEM, el acceso a la 
                  capacidad de transporte y la presentación de estudios eléctricos a CAMMESA. Aseguramos 
                  la aprobación de proyectos SMEC y SOTR, conformidades del PAFTT y acta de ajuste de 
                  protecciones. También gestionamos mediciones, ensayos y procedimientos de determinación 
                  del valor de potencia, garantizando el cumplimiento de los requisitos regulatorios para 
                  habilitaciones exitosas.
                </p>
              </div>
            </li>
      
            <li class="service-item">
              <div class="service-icon-box">
                <img src="./static/images/serv4.webp" alt="Camera icon" width="50">
              </div>
              <div class="service-content-box">
                <h4 class="h4 service-item-title">Formulación y evaluación de proyectos</h4>
                <p class="service-item-text">
                  Servicio de formulación y evaluación de proyectos, determinando 
                  su viabilidad técnica, económica y financiera. Realizamos estudios de factibilidad 
                  que incluyen el desarrollo de ingeniería conceptual para definir la tecnología 
                  adecuada y evaluar la selección del sitio. También relevamos datos de mercado 
                  y normativas ambientales. Elaboramos proyecciones financieras como cash flow y 
                  estados de ganancias y pérdidas. Calculamos parámetros de factibilidad (VPN, TIR) y analizamos 
                  la sensibilidad de las variables clave, garantizando decisiones fundamentadas y exitosas.
                </p>
              </div>
            </li>
          </ul>
        </section>

        <h3 class="h2 section-title">Proyectos Destacados</h3>

        <section class="image-ticker">
          <div class="ticker-wrapper">
            <div class="ticker-content">
              <img src="./static/images/tickerser/1.webp" alt="Foto 1">
              <img src="./static/images/tickerser/2.webp" alt="Foto 2">
              <img src="./static/images/tickerser/3.webp" alt="Foto 3">
              <img src="./static/images/tickerser/4.webp" alt="Foto 4">
              <img src="./static/images/tickerser/5.webp" alt="Foto 5">
              <img src="./static/images/tickerser/6.webp" alt="Foto 6">
              <img src="./static/images/tickerser/7.webp" alt="Foto 7">
              <img src="./static/images/tickerser/8.webp" alt="Foto 8">
              <img src="./static/images/tickerser/9.webp" alt="Foto 9">
              <img src="./static/images/tickerser/10.webp" alt="Foto 10">
            </div>
          </div>

          <section class="work-modes">
            <h2 class="h2 section-title">Nuestras Modalidades de Trabajo</h2>
          
            <div class="work-modes-container">
              <!-- Modalidad Remota -->
              <div class="mode-box">
                <div class="mode-icon">
                  <img src="./static/images/working1.svg" alt="Icono de remoto" width="50">
                </div>
                <h3 class="h3 mode-title">Remoto</h3>
                <p>Trabajamos desde cualquier lugar, utilizando herramientas digitales (google meet, microsoft team) 
                  para garantizar una comunicación eficiente y resultados excepcionales.</p>
              </div>
          
              <!-- Modalidad Presencial -->
              <div class="mode-box">
                <div class="mode-icon">
                  <img src="./static/images/working2.svg" alt="Icono de presencial" width="50">
                </div>
                <h3 class="h3 mode-title">Presencial</h3>
                <p>Supervisamos y gestionamos proyectos directamente en las instalaciones del 
                  cliente, asegurando una supervisión cercana y personalizada.</p>
              </div>
          
              <!-- Modalidad Semipresencial -->
              <div class="mode-box">
                <div class="mode-icon">
                  <img src="./static/images/working3.svg" alt="Icono de semipresencial" width="50">
                </div>
                <h3 class="h3 mode-title">Semipresencial</h3>
                <p>Adaptamos nuestro enfoque según las necesidades del proyecto, combinando actividades 
                  remotas y presenciales para mayor flexibilidad.</p>
              </div>
            </div>
          </section>
          
        
        


      </article>
      

      
      <!--
        - #FIN DE MIS SERVICIOS
      -->

      



      <!--
        - #PORTFOLIO
      -->

      <article class="portafolio" data-page="portafolio">

        <header>
          <h2 class="h2 article-title">Portfolio</h2>
        </header>

        <section class="projects">

          <ul class="filter-list">

            <li class="filter-item">
              <button class="active" data-filter-btn>All</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Construcción</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Tools For PM's</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Web development</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Ingeniería</button>
            </li>

          </ul>

          <div class="filter-select-box">

            <button class="filter-select" data-select>

              <div class="select-value" data-selecct-value>Select category</div>

              <div class="select-icon">
                <ion-icon name="chevron-down"></ion-icon>
              </div>

            </button>

            <ul class="select-list">

              <li class="select-item">
                <button data-select-item>All</button>
              </li>

              <li class="select-item">
                <button data-select-item>Construcción</button>
              </li>

              <li class="select-item">
                <button data-select-item>Tool For PM's</button>
              </li>

              <li class="select-item">
                <button data-select-item>Web development</button>
              </li>

              <li class="select-item">
                <button data-select-item>Ingeniería</button>
              </li>

            </ul>

          </div>
<!--LISTA DE ENLACES PARA PROYECTOS QUE ESTAN EN EL PORTAFOLIO-->

          <ul class="project-list">
<!--PROYECTO 1: EL NOMBRE DEL PROYECTO-->
            <li class="project-item  active" data-filter-item data-category="construcción">
              <a href="{{ url_for('project1') }}">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="./static/images/project-1.jpeg" alt="fundo" loading="lazy">
                </figure>
                <h3 class="project-title">Generación de energía</h3>
                <p class="project-category">Construcción</p>
              </a>
            </li>
<!--PROYECTO 4: EL NOMBRE DEL PROYECTO-->
            <li class="project-item  active" data-filter-item data-category="construcción">
              <a href="{{ url_for('project4') }}">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="./static/images/project-4.webp" alt="ceniza" loading="lazy">
                </figure>
                <h3 class="project-title">Planta de tratamiento de efluentes</h3>
                <p class="project-category">Construcción</p>
              </a>
            </li>
<!--INICIO - PROYECTO 3: EL NOMBRE DEL PROYECTO00000000000000000000000000000000 3 000000000000000000000-->
            <li class="project-item  active" data-filter-item data-category="ingeniería">
              <a href="{{ url_for('project3') }}">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="./static/images/project-3.jpg" alt="fundo" loading="lazy">
                </figure>
                <h3 class="project-title">Viviendas Unifamiliares</h3>
                <p class="project-category">Ingeniería</p>
              </a>
            </li>
<!--FIN - PROYECTO 3: EL NOMBRE DEL PROYECTO00000000000000000000000000000000 3 000000000000000000000-->

<!--INICIO - PROYECTO 2: EL NOMBRE DEL PROYECTO00000000000000000000000000000000 4 000000000000000000000-->
            <li class="project-item  active" data-filter-item data-category="web development">
              <a href="{{ url_for('project2') }}">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="./static/images/project-2.png" alt="webpersonal" loading="lazy">
                </figure>
                <h3 class="project-title">Portafolio Personal</h3>
                <p class="project-category">Web Development</p>
              </a>
            </li>
<!--FIN - PROYECTO 4: EL NOMBRE DEL PROYECTO00000000000000000000000000000000 4 000000000000000000000-->
<!--PROYECTO 5: CONCENTRADOR DE VINAZAS-->
            <li class="project-item  active" data-filter-item data-category="construcción">
              <a href="{{ url_for('project5') }}">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="./static/images/project-5.webp" alt="vinaza" loading="lazy">
                </figure>
                <h3 class="project-title">Planta de concentración de vinazas</h3>
                <p class="project-category">Construcción</p>
              </a>
            </li>
<!--FIN - PROYECTO 5-->






<!--PROYECTO 4: EL NOMBRE DEL PROYECTO
            <li class="project-item  active" data-filter-item data-category="applications">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./static/images/project-4.png" alt="brawlhalla" loading="lazy">
                </figure>

                <h3 class="project-title">Brawlhalla</h3>

                <p class="project-category">Applications</p>

              </a>
            </li>-->
<!--PROYECTO 5: EL NOMBRE DEL PROYECTO
            <li class="project-item  active" data-filter-item data-category="web design">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./static/images/project-5.png" alt="dsm." loading="lazy">
                </figure>

                <h3 class="project-title">DSM.</h3>

                <p class="project-category">Web design</p>

              </a>
            </li>-->
<!--PROYECTO 6: EL NOMBRE DEL PROYECTO
            <li class="project-item  active" data-filter-item data-category="web design">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./static/images/project-6.png" alt="metaspark" loading="lazy">
                </figure>

                <h3 class="project-title">MetaSpark</h3>

                <p class="project-category">Web design</p>

              </a>
            </li>-->
<!--PROYECTO 7: EL NOMBRE DEL PROYECTO
            <li class="project-item  active" data-filter-item data-category="web development">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./static/images/project-7.png" alt="summary" loading="lazy">
                </figure>

                <h3 class="project-title">Summary</h3>

                <p class="project-category">Web development</p>

              </a>
            </li>-->
<!--PROYECTO 8: EL NOMBRE DEL PROYECTO
            <li class="project-item  active" data-filter-item data-category="applications">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./static/images/project-8.jpg" alt="task manager" loading="lazy">
                </figure>

                <h3 class="project-title">Task Manager</h3>

                <p class="project-category">Applications</p>

              </a>
            </li>-->
<!--PROYECTO 9: EL NOMBRE DEL PROYECTO
            <li class="project-item  active" data-filter-item data-category="web development">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./static/images/project-9.png" alt="arrival" loading="lazy">
                </figure>

                <h3 class="project-title">Arrival</h3>

                <p class="project-category">Web development</p>

              </a>
            </li>-->
<!--PROYECTO FINAL AQUI CONTINUAN: EL NOMBRE DEL PROYECTO-->
          </ul>

        </section>

      </article>





      <!--
        - #BLOG
      -->

      <article class="blog {% if active_page == 'blog' %}active{% endif %}" data-page="blog">

        <header>
          <h2 class="h2 article-title">Blog</h2>
        </header>

        <section class="blog-posts">

          <ul class="blog-posts-list">

            <li class="blog-post-item">
              <a href="{{ url_for('articulo1') }}">
                <figure class="blog-banner-box">
                  <img src="./static/images/Blog-1prima.webp" alt="Design conferences in 2022" loading="lazy">
                </figure>

                <div class="blog-content">

                  <div class="blog-meta">
                    <p class="blog-category">AC: Integración</p>

                    <span class="dot"></span>

                    <time datetime="2022-02-23">Nov 25, 2024</time>
                  </div>

                  <h3 class="h3 blog-item-title">El Rol del Project Manager como Integrador de Interfaces Múltiples</h3>

                  <p class="blog-text">by YRVING VIERA</p>

                </div>

              </a>
            </li>

            <li class="blog-post-item">
              <a href="#">

                <figure class="blog-banner-box">
                  <img src="./static/images/blog-2.jpg" alt="Best fonts every designer" loading="lazy">
                </figure>

                <div class="blog-content">

                  <div class="blog-meta">
                    <p class="blog-category">Design</p>

                    <span class="dot"></span>

                    <time datetime="2022-02-23">Fab 23, 2022</time>
                  </div>

                  <h3 class="h3 blog-item-title">Best fonts every designer</h3>

                  <p class="blog-text">
                    Sed ut perspiciatis, nam libero tempore, cum soluta nobis est eligendi.
                  </p>

                </div>

              </a>
            </li>

            <li class="blog-post-item">
              <a href="#">

                <figure class="blog-banner-box">
                  <img src="./static/images/blog-3.jpg" alt="Design digest #80" loading="lazy">
                </figure>

                <div class="blog-content">

                  <div class="blog-meta">
                    <p class="blog-category">Design</p>

                    <span class="dot"></span>

                    <time datetime="2022-02-23">Fab 23, 2022</time>
                  </div>

                  <h3 class="h3 blog-item-title">Design digest #80</h3>

                  <p class="blog-text">
                    Excepteur sint occaecat cupidatat no proident, quis nostrum exercitationem ullam corporis suscipit.
                  </p>

                </div>

              </a>
            </li>

            <li class="blog-post-item">
              <a href="#">

                <figure class="blog-banner-box">
                  <img src="./static/images/blog-4.jpg" alt="UI interactions of the week" loading="lazy">
                </figure>

                <div class="blog-content">

                  <div class="blog-meta">
                    <p class="blog-category">Design</p>

                    <span class="dot"></span>

                    <time datetime="2022-02-23">Fab 23, 2022</time>
                  </div>

                  <h3 class="h3 blog-item-title">UI interactions of the week</h3>

                  <p class="blog-text">
                    Enim ad minim veniam, consectetur adipiscing elit, quis nostrud exercitation ullamco laboris nisi.
                  </p>

                </div>

              </a>
            </li>

            <li class="blog-post-item">
              <a href="#">

                <figure class="blog-banner-box">
                  <img src="./static/images/blog-5.jpg" alt="The forgotten art of spacing" loading="lazy">
                </figure>

                <div class="blog-content">

                  <div class="blog-meta">
                    <p class="blog-category">Design</p>

                    <span class="dot"></span>

                    <time datetime="2022-02-23">Fab 23, 2022</time>
                  </div>

                  <h3 class="h3 blog-item-title">The forgotten art of spacing</h3>

                  <p class="blog-text">
                    Maxime placeat, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>

                </div>

              </a>
            </li>

            <li class="blog-post-item">
              <a href="#">

                <figure class="blog-banner-box">
                  <img src="./static/images/blog-6.jpg" alt="Design digest #79" loading="lazy">
                </figure>

                <div class="blog-content">

                  <div class="blog-meta">
                    <p class="blog-category">Design</p>

                    <span class="dot"></span>

                    <time datetime="2022-02-23">Fab 23, 2022</time>
                  </div>

                  <h3 class="h3 blog-item-title">Design digest #79</h3>

                  <p class="blog-text">
                    Optio cumque nihil impedit uo minus quod maxime placeat, velit esse cillum.
                  </p>

                </div>

              </a>
            </li>

          </ul>

        </section>

      </article>





      <!--
        - #CONTACT
      -->

      <article class="contacto" data-page="contacto">

        <header>
          <h2 class="h2 article-title">Contacto</h2>
        </header>

        <section class="mapbox" data-mapbox>
          <figure>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d57933.571398433174!2d-65.3085470240042!3d-26.8215621119924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94225cdcab3eadeb%3A0xd7757ecff290d4da!2sPortal%20Tucum%C3%A1n!5e1!3m2!1ses-419!2sar!4v1726200747886!5m2!1ses-419!2sar" 
              width="400" height="300" loading="lazy">
            </iframe>
          </figure>
        </section>

        <section class="contact-form">

          <h3 class="h3 form-title">Contact Form</h3>

          <form action="{{ url_for('send_message') }}" method="POST" class="form" data-form>

            <div class="input-wrapper">
              <input type="text" name="fullname" class="form-input" placeholder="Full name" required data-form-input>

              <input type="email" name="email" class="form-input" placeholder="Email address" required data-form-input>
            </div>

            <textarea name="message" class="form-input" placeholder="Your Message" required data-form-input></textarea>

            <button class="form-btn" type="submit" disabled data-form-btn>
              <ion-icon name="paper-plane"></ion-icon>
              <span>Send Message</span>
            </button>

          </form>

        </section>

      </article>

    </div>

  </main>






  <!--
    - custom js link
  -->
  <script src="./static/js/script.js"></script>

  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



</body>

</html>
